<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">

  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Register</mat-card-title>
    </mat-card-header>

    <form class="example-form" [formGroup]="myForm" (ngSubmit)="onSubmit()">
      <mat-card-content>
        <mat-form-field class="example-full-width">
          <input autocomplete="off" formControlName="username" matInput placeholder="Username">
        </mat-form-field>


        <mat-form-field class="example-full-width">
          <input matInput autocomplete="off"  formControlName="email" placeholder="Email">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input type="password" formControlName="password" matInput placeholder="Password">
        </mat-form-field>


        <mat-form-field class="example-full-width">
          <input type="password" formControlName="password_again" matInput placeholder="Type your password again">
        </mat-form-field>
     

      </mat-card-content>
      <button type="submit" [disabled]="checkPasswords()" mat-stroked-button class="btn-block" >Finish Registering</button>
      <a class="register" routerLink="register" routerLinkActive="active" (click)="login()">Already have an account? Login now</a>
    </form>
  </mat-card>

</div>