<mat-toolbar>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu" [overlapTrigger]="false">
      <button mat-menu-item>
        <mat-icon>account_box</mat-icon>
        <span>Account</span>
      </button>
      <button mat-menu-item>
        <mat-icon>toc</mat-icon>
        <span>Preferances</span>
      </button>
     
      <button mat-menu-item  (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>
    <span style="color:#E18B29; font-size:30px"> Munch</span>
    <span class="example-spacer"></span>
    <span class="nav-tool-items"></span>

  <!---
    <div *ngIf="getLogin">
    <p style="margin:20px;padding:0; display:inline">Hello, {{username}}</p>
    <a mat-button mat-raised-button (click)="logout()" routerLinkActive="active">Log out</a>
    </div> 
    <div *ngIf="!getLogin"> 
    <a mat-button routerLink="login" routerLinkActive="active">Log in</a>
    <a mat-button mat-raised-button routerLink="register" routerLinkActive="active">Register</a>
    </div> -->
  
  </mat-toolbar>