<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <ng-flash-message></ng-flash-message>

    <mat-card class="box">
    
    <img src="/assets/logo.svg" alt="logo">
      <form class="example-form" [formGroup]="myForm" (ngSubmit)="onSubmit()">
        <mat-card-content>
          <mat-form-field class="example-full-width">
            <input autocomplete="off" formControlName="username" matInput placeholder="Username">
          </mat-form-field>
  
          <mat-form-field class="example-full-width">
            <input type="password" formControlName="password" matInput placeholder="Password">
          </mat-form-field>
        </mat-card-content>
        <button class="submit" type="submit" [disabled]="!myForm.valid" mat-stroked-button color="accent" class="btn-block" >Log in</button>
        <a class="register" routerLink="register" routerLinkActive="active" (click)="register()">Register for a new Account</a>
      </form>
    </mat-card>
</div>
