    .login-wrapper {
        height: 100%;
        width: 100%;
        padding-top: 150px;
    }
    
    .btn-block {
        margin-bottom: 16px;
        color: #E18B29
    }
    
    a {
        text-decoration: none;
        color: #E18B29;
    }
    
    a:hover {
        color: black;
    }
    
    img {
        width: 150px;
        height: 150px;
        text-align: center;
        display: block;
        margin: 0 auto 50px auto;
    }
    
    .login-wrapper mat-card-header {
        text-align: center;
        width: 100%;
        font-weight: 500;
    }
    
    .login-wrapper mat-card-header mat-card-title {
        font-size: 30px;
        margin: 0;
    }
    
    .login-wrapper .mat-card {
        padding: 30px 60px 30px;
    }
    
    .login-wrapper .example-form {
        min-width: 100%;
        max-width: 300px;
        width: 100%;
    }
    
    .login-wrapper .mat-stroked-button {
        border: 1px solid currentColor;
        line-height: 54px;
        background: #FFF7FA;
    }
    
    .login-wrapper .example-full-width,
    .login-wrapper .btn-block {
        width: 100%;
    }
    
    .btn-block {
        margin-bottom: 16px;
    }
    
    a {
        text-decoration: none;
        color: #E18B29;
    }
    
    a:hover {
        color: black;
    }
    
    img {
        width: 150px;
        height: 150px;
        text-align: center;
        display: block;
        margin: 0 auto 50px auto;
    }
    
    .login-wrapper mat-card-header {
        text-align: center;
        width: 100%;
        display: block;
        font-weight: 500;
        margin-bottom: 30px;
        color: #E18B29;
    }
    
    .login-wrapper mat-card-header mat-card-title {
        font-size: 30px;
        margin: 0;
    }
    
    .login-wrapper .mat-card {
        padding: 30px 60px 30px;
    }
    
    .login-wrapper .mat-stroked-button {
        border: 1px solid currentColor;
        line-height: 54px;
        background: #FFF7FA;
    }