agm-map {
    height: 900px;
}

.example-form {
    margin-top: 20px;
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.example-full-width {
    width: 100%;
}

.filter {
    display: flex;
    mat-checkbox {
        flex-direction: row;
        margin: 0 20px;
    }
    button {
        flex-direction: row;
        margin: 0 10px 10px 0;
        color: #E18B29;
    }
}

#myUL {
    /* Remove default list styling */
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#myUL li a {
    border: 1px solid #ddd;
    /* Add a border to all links */
    margin-top: -1px;
    /* Prevent double borders */
    background-color: #f6f6f6;
    /* Grey background color */
    padding: 12px;
    /* Add some padding */
    text-decoration: none;
    /* Remove default text underline */
    font-size: 18px;
    /* Increase the font-size */
    color: black;
    /* Add a black text color */
    display: flex;
    /* Make it into a block element to fill the whole list */
    .text{
        flex-direction: row;
    }
    .img{
        flex-direction: row;
        margin-left: auto;
        img{
      
            width: 150px;
            height: 150px;
      
        }
    }

    }


#myUL li a:hover:not(.header) {
    background-color: #eee;
    /* Add a hover effect to all links, except for headers */
}